<div *ngIf="!isSubmit; else results">
  <h4>Check answers from Ksenia:</h4>

  <form [formGroup]="form" (ngSubmit)="submit()">
    <ul>
      <li *ngFor="let answer of answers">
        <span>{{ answer.question }}</span>
        <br>
        <span>{{ answer.answer }}</span>
        <br>
        <label>
          is correct:
          <input type="checkbox" [formControlName]="answer.question_id">
        </label>
      </li>
    </ul>

    <button type="submit" class="btn">Send</button>
  </form>
</div>

<ng-template #results>
  <app-results></app-results>
</ng-template>
