<div class="questions">
  <form [formGroup]="form" (ngSubmit)="submit()">
    <div formGroupName="questions">
      <app-question
        *ngFor="let question of questions"
        id="{{ question.id }}"
        text="{{ question.text }}"
        [question]="form"
      >
      </app-question>

<!--      <div *ngFor="let question of questions" >-->
<!--        <label class="question">-->
<!--          {{ question.text }}-->
<!--          <input type="text" [formControlName]="question.id">-->
<!--          <span-->
<!--            *ngIf="form.get('questions').errors && form.get('questions').errors.required"-->
<!--            class="error"-->
<!--          >-->
<!--          Answer is required-->
<!--        </span>-->
<!--        </label>-->
<!--      </div>-->
    </div>

    <button class="btn" type="submit">Send</button>
  </form>

<!--  <pre>Form Values: {{form.value | json}}</pre>-->
</div>
