.questions {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.question {
  display: flex;
  flex-direction: column;
}

.error {
  color: red;
  font-size: 12px;
}

.btn {
  color: #fff;
  background-color: #007bff;
  border: 1px solid #007bff;
  border-radius: 0.25rem;
  padding: .375rem .75rem;
  font-size: 1rem;
  cursor: pointer;

  &:disabled {
    opacity: .65;
    cursor: default;
  }
}
