.questions {
  width: 1000px;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.questions-wrap {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.btn {
  color: #fff;
  background-color: #007bff;
  border: 1px solid #007bff;
  border-radius: 0.25rem;
  padding: .375rem .75rem;
  font-size: 1rem;

  cursor: pointer;
}
