.question {
  margin-bottom: 30px;

  .question-container {
    display: flex;
    flex-direction: column;

    .question-label {
      margin-bottom: 5px;
    }

    .question-input {
      // border-color: red;
    }

    .error {
      font-size: 12px;
      color: red;
      margin-top: 5px;
    }
  }
}
